.application{
    display: flex;
    flex-wrap: wrap;
}

.application-button {
    font-size: 16px;
    color: #ffffff;
    background-color: #505c86;
    border-radius: 15px;
    padding: 5px;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid #234668;
    cursor: pointer;
    margin: 1px;
}